.header1{
    height: 100px;
    width: 100vw;
    background-color: black;
    color: white;
}
.header2{
    background-color: lightblue;
}
.navbar{
    background-color:grey ;
    width: 100vw;
    height: 5rem;
    margin-top: -17px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-right: 8rem;
}